# @Author: guanxiangyu
# @Date:   2023-02-18
# @Last Modified by:   guanxiangyu
# @Last Modified time: 2023-02-18
######################### PART-1: Basic parameters ######################################
projectname=;                    ## Project name, please don't contain "-", default[test] 
queue=;                          ## queue name, default[st.q]
queue2=;                         ## queue2 name, default[fpga2.q]
priority=;                       ## Priority name, default[P21Z10200N0125]
priority2=;                      ## Priority2 name, default[P21Z10200N0125_zbolt]
purity=;                         ## purity (default:1)

######################### PART-2: Analysis chosen # #####################################
split_num=;                      ## Parameter reqired by splitfq (default:1)
hlalist=;                        ## format: sampleID       /path/to/hla.txt
fastqclean=;                     ## whether clean reads 
soapnukeclean=;                  ## fastq clean by SOAPnuke (default:true)
fastqcorrect=;                   ## whether correct clean reads, only suit to paired reads
alignment=;                      ## false for input bam files, true for input fastq[.gz]
bampostprocess=;                 ## set to true to run MarDup, SplitNCigar and BQSR. default is true
addreadgroup=;                   ## set to true if read group massage is not included in the origin bam file
bamqc=;        

tumor_only=;                    ## whether call somatic mutation in tumor only mode, if set to true, somatic variant calling through other software would set to false
somatic=;                       ## whether call somatic mutation default[true]
svaba=;                         ## somatic sv calling by manta:SV default[true]
MuSE=;                          ## somatic variant calling by MuSE: snv[true]
strelka=;                       ## somatic variant calling by strelka: snv and indel[true]
mutect=;                        ## somatic variant calling by mutect1: Ssnv default[true]
mutect2=;                       ## somatic variant calling by mutect2: Ssnv and Sindel
strelka2=;                      ## somatic variant calling by strelka2: Ssnv and Sindel default[true]

hlasomatic=;                    ## hlasomatic detecting
kraken=;                        ## microbiome taxonomy analysis for WGS unmapped reads by kraken2

############################# General ###################################
reference_block=;
Cosmic=;
GATKdbsnp=;
dbsnp=;
1kg_phase1_snp=;
Mills_indel=;
Cosmic=;
gnomAD=;
GetPileupSummaries=;
targetRegion=;
reference_bed=;
reference_block=;
reference_block_bed_path=;

############################# Raw Data QC ###################################
fastp=;
fastpparameter=;
soapnuketool=;
soapnukeparameter=;


####################### Alignment ##############################
samtools=; ## deafult[$bin/samtools]
rcorrector=;
filterfq=;
reference=;
star=;
star_ref=;
star_par=;
alignment_q=;

####################### Basic Tools ##########################
python=;  # default[$bin/python]
java=; # default[$bin/java]
SNPfilterParameter=;

######################## QC ###########################
qctool=; #default[$bin/bam-matcher.py]
qcvcf=; 
qcpar=;
bamdst=; # default[$bin/bamdst]
bamdstPlot=; # default[$bin/bamdstPlot.pl]
bamtools=; # default[$bin/bamtools]

######################## SvABA #################################
svabatool=;

######################## mutectSNV #############################
java17=; ## (File) Old version of jav. default[$bin/java17]
mutectjar=; ## (File) used to detect ssnv, default[$bin/mutect-1.1.7.jar]

######################## mutect2 ###############################
generateMutect2bed=;
GATK4=;
picard=;
panel_of_normal=;
vcfconcat=; ## (File) used to Merge VCFs, default[$bin/vcf-concat]
vcfsort=;
bgzip=; #default[$bin/bgzip]
tabix=; #default[$bin/tabix]
fetchMutect2=;  #set it if you have RNA data 

############################ strelka2 ##############################
strelka2py=; # default[$bin/configureStrelkaSomaticWorkflow.py]
runstrelka2flow=;

############################ muse ###################################
muse=;

############################ strelka ###############################
strelkapl=;
#strelkapar=;
strelkapar=;

############################ mergeSnvInDel #########################
mergeSnvpy=;
mergeIndelpy=;
ANNOVAR=;
ANNOVAR_refdir=;
annovar_par=;

############################### hlasomatic #############################
ploysolver_config=;
polysolver=;
combinescript=;
hlapar=;

############################### kraken2 #############################
kraken2=;
Kraken2DB=;
Kraken2_threads=;
Kraken2par=;
kraken2_q=;

############################## monitor ##################################
monitor=;
