######################### PART-1: Basic parameters ######################################
projectname=mm39;                   ## Project name, please don't contain "-", default[test] 
queue=;                             ## queue name, default[st.q]
queue2=;                            ## queue2 name, default[fpga2.q]
priority=;                          ## Priority name, default[P21Z10200N0125]
priority2=;                         ## Priority2 name, default[P21Z10200N0125_zbolt]
purity=1;                           ## purity (default:1)
readlength=150;                     ## readlength(default:150)

######################### PART-2: Analysis chosen # #####################################
split_num=1;                        ## Parameter reqired by splitfq (default:1)
hlalist=;                           ## format: sampleID       /path/to/hla.txt
fastqclean=true;                    ## whether clean reads 
soapnukeclean=false;                ## fastq clean by SOAPnuke (default:true)
alignment=true;                     ## WGS/WES alignment, or false for input bam files
Minimap2=false;                     ## alignment software select, true for use Minimap2
BWA=true;                           ## alignment software select, true for use BWA(if BWA and Minimap2 are all true, BWA will be selected)
megaboltqc=false;

metaphlan=true;                     ## microbiome taxonomy analysis for WGS unmapped reads by metaphlan3
kraken=true;                        ## microbiome taxonomy analysis for WGS unmapped reads by kraken2

somatic=true;                       ## whether call somatic mutation default[true]
tumor_only=false;					## whether call somatic mutation in tumor only mode, if set to true, somatic variant calling through other software would set to false
svaba=true;                         ## somatic variant calling by manta: SV and indel default[true]
MuSE=true;                          ## somatic variant calling by MuSE: snv default[true]
strelka=true;                       ## somatic variant calling by strelka: snv and indel default[true]
strelka2=true;                      ## somatic variant calling by strelka2: Ssnv and Sindel default[true]
mutect=true;                        ## somatic variant calling by mutect1: Ssnv default[true]
mutect2=true;                       ## somatic variant calling by mutect2: Ssnv and Sindel default[true]
varscan2=false;                     ## somatic variant calling by varscan2: Ssnv and Sindel default[false]

FACTERA=false;                      ## somatic variant calling by FACTERA:SV default[true]
manta=false;                        ## somatic variant calling by manta:SV default[true]
gatkcnv=false;                      ## somatic variant calling by GATK:cnv default[true]
FACETS=false;                       ## allele-specific copy number analysis (ASCN)
msi=true;

hlasomatic=false;                   ## hlasomatic detecting by Polysolver
hlaminer=false;                     ## hlasomatic detecting by HLAminer

integrate=false;                    ## INTEGRATE-WES fusion calling
starfusion=false;                   ## STAR-Fusion fusion calling
rsemstar=false;                     ## RSEM RNA expression calculation 
NeoantigenPredict=false;            ## Neoantigen Prediction Pipeline
targetDrug=false;                   ## medicine annotation
resistant=false;                    ## resistant annotation
immupathway=false;                  ## immupathway annotation
chemicalDrug=false;                 ## chemicalDrug annotation
getreport=false;                    ## getreport information of each Sample

#################################### database path #########################################
reference=;
reference_bed=;
reference_block=;
reference_block_bed_path=;
hisat2ref=;
starref=;
qcvcf=;
GATKdbsnp=;
dbsnp=;
1kg_phase1_snp=;
Mills_indel=;
Cosmic=;
gnomAD=;
panel_of_normal=;
GetPileupSummaries=;
#
STARfslib=;
FACETSref=;
ANNOVAR_refdir=;
#bed
#
USER_TR=;
targetRegion=;
bed_bgzip=;
gatkcnv_bed=;
#PoN
pre_gatkcnvPoN=;
immupathway_data=;
msi_bed=;
msisor_bed=;
target_bin=;
mantis_reference=;

#################################### software path #########################################
monitor=;
fastp=;
tabix=;
bgzip=;
soapnuketool=;
bamdst=;
bamdstPlot=;
hisat2=;
samtools=;
bamtools=;
qctool=;
java17=;
java=;
mutectjar=;
mutectFilter=;
vcfsort=;
vcfconcat=;
GATK4=;
GATK3=;
snppileup=;
fetchMutect2=;  #set it if you have RNA data 
python3=;
python=;
strelkapl=;
strelkapar=;
strelka2py=;
varscan2jar=;
#muse=;
muse=;
#svabatool=;
svabatool=;
filtermut=;
mergeSnvpl=;
mergeInDelpl=;
mergeSnvpy=;
mergeIndelpy=;
checkBampl=; ## Default [$bin/check_RNA_bam.pl]
mantis_tool=;  # Default [$bin/mantis.py]
msisensor_tool=;  # Default [$bin/msisensor]
INTEGRATE=; ## Default [$bin/Integrate]
#STARfusion=; ## Default [$bin/STAR-Fusion]
#STAR=; # Default [$bin/STAR]
RSEM=;  # Default [$bin/rsem-calculate-expression]
STARpath=;  # Default [$bin/Linux_x86_64]
FACETSTOOL=;## default [$bin/facets.R]
gatkcnvtool=;##default [$bin/SomaticCNV_GATKACNV.4PD1.pl]
seg2vcf=;
#gatkcnv_vep=;
#FACTERATOOL=;#FACTER tool dir default [$bin/FACTERA-v1.4.4]
#Mantatool=; ## default [$bin/configManta.py]
Mantatool=;
polysolver=;
polysolver_config=;
HLAminer=; ## [guanxiangyu-20220713]
HLAminer_Parse=;

#depthPlot=;  ## default [$bin/Reads_count_coverage.pl]
#optitype=;  ## default [$bin/OptiTypePipeline.py]
combinescript=;
#MafAnnotator=; ## default [$bin/MafAnnotator.py]
tab2csv=; ## default [$bin/tab2csv.pl]
Neoantigenpy=;  ## default [$bin/run.py]
#vcf2maf=;  ## default [$bin/vcf2maf.sh]
ANNOVAR=;
chemicaldrug_tool=; ## default [$bin/getchemicalDrug.info.pl]
resistant_tool=; ## default [$bin/resistantDrug.pl]
resistant_freq=;
Rscript=;
metaphlan3=;
bowtie2=;
bowtie2_build=;
kraken2=;

###################################  PART-5: Parameter  ####################################
soapnukeparameter=-l 5 -q 0.5 -n 0.1 -f AAGTCGGAGGCCAAGCGGTCTTAGGAAGACAA -r AAGTCGGATCGTAGCCATGTCGTTCTGTGAGCCAAGGAGTTG -Q 2 -G --seqType 2;
fastpparameter=;#fastp parameter[default non]
hisat2parameter=-p 4;
qcpar=--caller gatk --dp-threshold 15 --gatk-mem-gb 4 --gatk-nt 1 --do-not-cache --experimental;
rnamutect2parameter= --disable-read-filter GoodCigarReadFilter --disable-read-filter MappedReadFilter --disable-read-filter MappingQualityAvailableReadFilter --disable-read-filter MappingQualityReadFilter --disable-read-filter NonZeroReferenceLengthAlignmentReadFilter --disable-read-filter NotDuplicateReadFilter --disable-read-filter NotSecondaryAlignmentReadFilter --disable-read-filter PassesVendorQualityCheckReadFilter --disable-read-filter ReadLengthReadFilter --disable-read-filter WellformedReadFilter;
runstrelka2flow=-m local -j 4;
INTEGRATEannot=/ldfssz1/ST_PRECISION/PMO/F16ZQSB1SY2968/3.scripts/5.WESpipeline/CancerWES_2018b/bin/parameter/annot.ensembl.r92.grch37.txt; ## Default [annot.ensembl.r92.grch38.txt]
INTEGRATEbwt=/ldfssz1/ST_PRECISION/PMO/F16ZQSB1SY2968/3.scripts/5.WESpipeline/CancerWES_2018b/bin/parameter/bwts_grch37;  Default [$bin/parameter/bwts]
integratepar=; ## add new parameter to integrate
starfusionpar=;##add new parameter to starfusion
rsempar=--star-gzipped-read-file --star-output-genome-bam --estimate-rspd --append-names;##add new parameter
FACETSpar=-g -q15 -Q20 -P100 -r25,0;
gatkcnvparameter=-normal_list BRCA;
SNPfilterParameter=--filter-expression "QD < 2.0 || MQ < 40.0 || ReadPosRankSum < -8.0 || FS > 60.0" --filter-name LowQuality --missing-values-evaluate-as-failing --variant;
hlasomaticparameter=Asian;
annovar_par=--buildver mm39 --remove --protocol refGene --operation g --nastring . --vcfinput;
methodlist=; ## Required by Neoantigen prediction
minLength=8;      ## Parameter reqired by Neoantigen prediction (minimum lenght of peptide), default 8
maxLength=11;      ## Parameter reqired by Neoantigen prediction (maximum lenght of peptide), default 11
nt=-nt 6;

mantispar=-mrq 20.0 -mlq 25.0 -mlc 20 -mrr 1;
happar=-stand_call_conf 30 -mbq 20 --minPruning 2 -rf BadCigar -nt 1 -nct 2;
# for microbiome analysis
bowtie2db=;
metaphlan_index=;
metaphlan_nproc=3;
Kraken2DB=;
Kraken2_threads=10;
Kraken2par=--report-zero-counts;
megaBOLT_q=50G:24cpu:2q;
HLAminer_q=20G:1cpu;
metaphlan_q=5G:1cpu;
kraken2_q=50G:5cpu;
mantis_q=50G:5cpu;
